body {
  font-family: "Courier New";
}

header {
  border: 1px solid black;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  width: 100px;
  text-align: center;
}

.cell_image {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

footer {
  border: 1px solid black;
}
